.nav a{
  text-decoration: none;
  color: white;
}
body{
  margin: 0;
  font-family: 'Inter',sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 5vh;
}
.home{
  flex: 1 1 auto;
  background-image: url('images/laptop-too-dark.jpg');
  background-repeat:no-repeat;
  background-size: contain;
  background-position: right;
  
}
.keyboard{
  height: 50vh;
  max-width: 100%;
}
.App{
    display: flex;
    flex-direction: column;
    height: 100vh;  
}
.about{
  flex: 1 1 auto;
  background-color:#101010;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.profile-pic{
  height: 40vh;
  max-width:100%;
}
.about-info{
  text-align: center;
}